@import "tailwindcss";

@theme {
  --color-background: #FAFAF7;
  --color-surface: #FFFFFF;
  --color-brand: #6D5EF7;
  --color-brand-light: #8B7CFB;
  --color-brand-dark: #5548E6;
  --color-text-primary: #1C1C1E;
  --color-text-secondary: #686b70;
  --color-text-muted: #9A9AA0;
  --radius-soft: 14px;
  --shadow-soft: 0 8px 24px rgba(0,0,0,0.06);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-normal-size: 20px;
  --text-subtitle-size: 18px;
  --text-title-size: 60px
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

